{% extends "airmusic/layout.html"%}
{% load static %}

{%block body%}
<h1 style="color: #F9F3F2;font-size:2vw;";>Made by Rijul</h1>
<h1 style="color: #1DB954; font-size:20vw;">Spotipy</h1>
<h1 style="color: #F9F3F2;font-size:10vw;";>Give it a try</h1>
<button type="button" class="btn btn-outline-success" id="indexoffer">I'm gonna make him an offer he can't refuse.</button>
<div class="popcorn d-flex align-items-center justify-content-center">
    <img src="{% static 'airmusic/images/c.svg' %}" class="img-fluid">
</div>
{%endblock%}
{% block script %}

<script src="{% static 'airmusic/index.js' %}"></script>
{% endblock %}