{% load static %}


<!DOCTYPE html>
<html lang="en">

<head>
    <title>hello</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link href="{% static 'airmusic/styles.css' %}" rel="stylesheet">
        <link href="{% static 'airmusic/page3.css' %}" rel="stylesheet">
        <script src="{% static 'airmusic/page3.js' %}"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
 
</head>

<body class='b'>
    <div class="container">     
        
        <div class="body">
          <div style="background-color: black;" class='container'>
            <div style="color: white;
            font-family:Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New;"> Sorry that I made you enter the dark mode. This is a useless place where you can do nothing. If you enjoy doing nothing, then stay here. You can also move the cursor around the screen.
             <div class="Menu">
               <ul class="Menu-list" data-offset="10">
                
                 <li class="Menu-list-item" data-offset="16" onclick>
                     <a href="{% url 'airmusic:index' %}">
                    me is angry 
                   <span class="Mask"><span>me is angry</span></span>
                   <span class="Mask"><span>me is angry</span></span>
                   </a>
                 </li>
                
               </ul>
             </div>
         </div>
        </div>
       
</body>

</html>
<!doctype html>
<html lang="en">

<head>
  {% load static %}